certifi
Click
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
dash-bio==0.4.5
dash-bio-utils==0.0.5
Flask
Flask-Compress
future
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
parmed
python-dateutil
pytz
six
Werkzeug
gunicorn
